a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


.app {
	margin-left: 5px;
	margin-right: 5px;
}

#welcome_image {
	/*width: 135px;*/
	height: 96px;
	display: inline;			
}

#welcome_text {
	display: inline;
	font-weight: bold;
	font-size: 14pt;
	vertical-align: text-bottom;
}

#welcome_image_row {
	margin-bottom: 10px;
	
}

.detail_image {
	 width: 100%;
}

h4 {
	font-family: Oswald, sans-serif;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}
